html, body {
        height: 100%;
        margin: 0px;
}

body
{
	margin:0; 
	padding:0;
}
#sections
{
	width:100%;
    margin:0 auto;
}
.red
{
	margin:0 10px;
	width:200px;
	height:200px;
	display:inline-block;
	background:red;
}
#css > p{color:purple;}
div + p {background:red;color:white;} 
div ~ p {background:black;color:pink}

.menu li 
{
position:relative;
top:30%;
	display:block;
	padding:10px;
	border-radius:3px;
	border:2px solid black; 
    margin:15px;
}
.menu li:first-child
{
	margin-top:0px;
	
}
.menu{
	display:block;
	font-size:2em;
	text-align:center;
	background:rgb(220,220,220);
	width:25%;
	height:100%;
	margin:0;
	padding:0;}
.menu li:hover
{
	color:white;
	font-weight:bold;
	font-size:1.2em;
	cursor:pointer;
	background-color:green;
}
